# Goals:
- Global Goal: Study characteristics of successful movies in the US
- Local Goal: Combine data files from TMDB query into single dataset and perform exploratory analysis

# Data Description
- results from TMDB query are in individual .csv files sorted by movie year.
- There are different versions included in the data folder. The relevant files have the format ```'Data/final_tmdb_data_*.0.csv.gz'```

# Deliverables
- Single .csv file including all data from TMDB query as well as exploratory analysis results

# EDA Foci
    - How many movies had at least some valid financial information (values > 0 for budget OR revenue)?
        - exclude any movies with 0's for budget AND revenue from the remaining visualizations.
    - How many movies are there in each of the certification categories (G/PG/PG-13/R)?
    - What is the average revenue per certification category?
    - What is the average budget per certification category?

# Import and Load

In [29]:
import os, glob
import pandas as pd
import numpy as np

# Concatenate TMDB results to database

In [5]:
FOLDER = "Data/"
os.makedirs(FOLDER, exist_ok=True)
os.listdir(FOLDER)

['tmdb_api_results_2017.0.json',
 'final_tmdb_data_2005.0.csv.gz',
 'final_tmdb_data_2004.0.csv.gz',
 'tmdb_api_results_2009.0.json',
 'tmdb_api_results_2005.0.json',
 'tmdb_api_results_2021.0.json',
 'tmdb_api_results_2019.0.json',
 'final_tmdb_data_2018.0.csv.gz',
 'final_tmdb_data_2019.0.csv.gz',
 'tmdb_api_results_2007.0.json',
 'tmdb_api_results_2015.0.json',
 'final_tmdb_data_2012.0.csv.gz',
 'final_tmdb_data_2013.0.csv.gz',
 'final_tmdb_data_2021.0.csv.gz',
 'final_tmdb_data_2020.0.csv.gz',
 'tmdb_api_results_2011.0.json',
 'tmdb_api_results_2003.0.json',
 'final_tmdb_data_2015.0.csv.gz',
 'final_tmdb_data_2014.0.csv.gz',
 'basics.csv.gz',
 'tmdb_api_results_2000.json',
 'final_tmdb_data_2000.csv.gz',
 'final_tmdb_data_2008.0.csv.gz',
 'final_tmdb_data_2009.0.csv.gz',
 'tmdb_api_results_2001.json',
 'ratings.csv.gz',
 'final_tmdb_data_2002.0.csv.gz',
 'final_tmdb_data_2003.0.csv.gz',
 'tmdb_api_results_2001.0.json',
 'tmdb_api_results_2013.0.json',
 'final_tmdb_data_2011.0.csv.gz',
 'final_tmdb_data_2010.0.csv.gz',
 'tmdb_api_results_2020.0.json',
 'tmdb_api_results_2008.0.json',
 'tmdb_api_results_2016.0.json',
 'tmdb_api_results_2004.0.json',
 'final_tmdb_data_2006.0.csv.gz',
 'final_tmdb_data_2007.0.csv.gz',
 'tmdb_api_results_2022.0.json',
 'akas.csv.gz',
 'tmdb_api_results_2006.0.json',
 'tmdb_api_results_2018.0.json',
 'tmdb_api_results_2014.0.json',
 'final_tmdb_data_2001.csv.gz',
 '.ipynb_checkpoints',
 'final_tmdb_data_2001.0.csv.gz',
 'final_tmdb_data_2000.0.csv.gz',
 'tmdb_api_results_2010.0.json',
 'tmdb_api_results_2002.0.json',
 'tmdb_api_results_2000.0.json',
 'final_tmdb_data_2016.0.csv.gz',
 'final_tmdb_data_2017.0.csv.gz',
 'tmdb_api_results_2012.0.json',
 'final_tmdb_data_2022.0.csv.gz']

In [12]:
csv_files = glob.glob('Data/final_tmdb_data_*.0.csv.gz')

In [13]:
csv_files

['Data/final_tmdb_data_2005.0.csv.gz',
 'Data/final_tmdb_data_2004.0.csv.gz',
 'Data/final_tmdb_data_2018.0.csv.gz',
 'Data/final_tmdb_data_2019.0.csv.gz',
 'Data/final_tmdb_data_2012.0.csv.gz',
 'Data/final_tmdb_data_2013.0.csv.gz',
 'Data/final_tmdb_data_2021.0.csv.gz',
 'Data/final_tmdb_data_2020.0.csv.gz',
 'Data/final_tmdb_data_2015.0.csv.gz',
 'Data/final_tmdb_data_2014.0.csv.gz',
 'Data/final_tmdb_data_2008.0.csv.gz',
 'Data/final_tmdb_data_2009.0.csv.gz',
 'Data/final_tmdb_data_2002.0.csv.gz',
 'Data/final_tmdb_data_2003.0.csv.gz',
 'Data/final_tmdb_data_2011.0.csv.gz',
 'Data/final_tmdb_data_2010.0.csv.gz',
 'Data/final_tmdb_data_2006.0.csv.gz',
 'Data/final_tmdb_data_2007.0.csv.gz',
 'Data/final_tmdb_data_2001.0.csv.gz',
 'Data/final_tmdb_data_2000.0.csv.gz',
 'Data/final_tmdb_data_2016.0.csv.gz',
 'Data/final_tmdb_data_2017.0.csv.gz',
 'Data/final_tmdb_data_2022.0.csv.gz']

In [19]:
for f in csv_files:
    print(f)
    result = pd.read_csv(f,lineterminator='\n')

Data/final_tmdb_data_2005.0.csv.gz
Data/final_tmdb_data_2004.0.csv.gz
Data/final_tmdb_data_2018.0.csv.gz
Data/final_tmdb_data_2019.0.csv.gz
Data/final_tmdb_data_2012.0.csv.gz
Data/final_tmdb_data_2013.0.csv.gz
Data/final_tmdb_data_2021.0.csv.gz
Data/final_tmdb_data_2020.0.csv.gz
Data/final_tmdb_data_2015.0.csv.gz
Data/final_tmdb_data_2014.0.csv.gz
Data/final_tmdb_data_2008.0.csv.gz
Data/final_tmdb_data_2009.0.csv.gz
Data/final_tmdb_data_2002.0.csv.gz
Data/final_tmdb_data_2003.0.csv.gz
Data/final_tmdb_data_2011.0.csv.gz
Data/final_tmdb_data_2010.0.csv.gz
Data/final_tmdb_data_2006.0.csv.gz
Data/final_tmdb_data_2007.0.csv.gz
Data/final_tmdb_data_2001.0.csv.gz
Data/final_tmdb_data_2000.0.csv.gz
Data/final_tmdb_data_2016.0.csv.gz
Data/final_tmdb_data_2017.0.csv.gz
Data/final_tmdb_data_2022.0.csv.gz

In [20]:
tmdb_results_df = pd.concat((pd.read_csv(f, lineterminator='\n') for f in csv_files), ignore_index=True)

In [21]:
tmdb_results_df.head()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0088751,0.0,NaN,NaN,350000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...",NaN,29163.0,en,The Naked Monster,...,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,The Naked Monster,0.0,3.400,5.0,NaN
2,tt0118141,0.0,/unoJZwLGTlzKc3QkvsERVPLRnFH.jpg,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",http://www.crispinglover.com/whatisit.htm,54506.0,en,What Is It?,...,0.0,72.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The adventures of a young man whose principle ...,What Is It?,0.0,5.800,22.0,NC-17
3,tt0120667,0.0,/jkBEPKRq4HWlLwsMFMdDiYwaCle.jpg,"{'id': 9744, 'name': 'Fantastic Four Collectio...",100000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,9738.0,en,Fantastic Four,...,333535934.0,106.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,4 times the action. 4 times the adventure. 4 t...,Fantastic Four,0.0,5.769,8238.0,PG-13
4,tt0121164,0.0,/r4VumNLSafeGhlieKNhGv0BQ4UD.jpg,NaN,40000000.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 14, ...",http://corpsebridemovie.warnerbros.com/,3933.0,en,Corpse Bride,...,118133252.0,77.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,There's been a grave misunderstanding.,Corpse Bride,0.0,7.488,7411.0,NaN

In [22]:
tmdb_results_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60706 entries, 0 to 60705
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                60706 non-null  object
 1   adult                  60683 non-null  float64
 2   backdrop_path          37940 non-null  object
 3   belongs_to_collection  3908 non-null   object
 4   budget                 60683 non-null  float64
 5   genres                 60683 non-null  object
 6   homepage               14929 non-null  object
 7   id                     60683 non-null  float64
 8   original_language      60683 non-null  object
 9   original_title         60683 non-null  object
 10  overview               59348 non-null  object
 11  popularity             60683 non-null  float64
 12  poster_path            55252 non-null  object
 13  production_companies   60683 non-null  object
 14  production_countries   60683 non-null  object
 15  release_date           59623 non-null  object
 16  revenue                60683 non-null  float64
 17  runtime                60683 non-null  float64
 18  spoken_languages       60683 non-null  object
 19  status                 60683 non-null  object
 20  tagline                22966 non-null  object
 21  title                  60683 non-null  object
 22  video                  60683 non-null  float64
 23  vote_average           60683 non-null  float64
 24  vote_count             60683 non-null  float64
 25  certification          14968 non-null  object
dtypes: float64(9), object(17)
memory usage: 12.0+ MB

# Exploratory Analysis

## Movies with budget info?
    - budget > 0 or Revenue > 0
    - exclude those which have 0 for both

In [25]:
budget_df = tmdb_results_df[(tmdb_results_df['budget'] > 0) | (tmdb_results_df['revenue'] > 0)]

In [33]:
# check that all budget = 0 entries have non-zero revenues
budget_df[budget_df['budget']==0]['revenue'].describe()

count    2.437000e+03
mean     9.272926e+06
std      3.125197e+07
min      1.000000e+00
25%      1.112320e+05
50%      1.113277e+06
75%      6.019720e+06
max      6.862576e+08
Name: revenue, dtype: float64

In [34]:
# and the reverse
budget_df[budget_df['revenue']==0]['budget'].describe()

count    6.092000e+03
mean     3.503121e+06
std      1.012984e+07
min      1.000000e+00
25%      2.500000e+04
50%      5.000000e+05
75%      3.000000e+06
max      2.000000e+08
Name: budget, dtype: float64

## movies in each certification?

In [37]:
budget_df['certification'].unique()

array([nan, 'PG-13', 'PG', 'R', 'G', 'NC-17', 'NR', 'R ', 'PG-13 ',
       'Unrated'], dtype=object)

In [39]:
budget_df.loc[:,'certification'].replace({'R ':'R'}, inplace=True)

/var/folders/n1/s57pvdjj0m71q15d4zqpncv00000gn/T/ipykernel_11542/1212688946.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  budget_df.loc[:,'certification'].replace({'R ':'R'}, inplace=True)

In [40]:
budget_df['certification'].value_counts()

R          3242
PG-13      2030
NR          952
PG          793
G           160
NC-17        37
PG-13         1
Unrated       1
Name: certification, dtype: int64

## Average revenue per certification category

In [44]:
budget_df.groupby(['certification']).mean()

,adult,budget,id,popularity,revenue,runtime,video,vote_average,vote_count
certification,,,,,,,,,
G,0.000000,3.217772e+07,189196.837500,31.260706,9.605117e+07,90.706250,0.000000,6.124244,1376.325000
NC-17,0.027027,3.209207e+06,253127.621622,14.582432,4.905780e+06,101.243243,0.000000,5.630541,509.081081
NR,0.001050,2.852528e+06,357739.030462,7.311978,6.383152e+06,92.137605,0.011555,4.617087,198.192227
PG,0.000000,4.204011e+07,184792.761665,40.360364,1.261626e+08,100.591425,0.001261,6.191763,1839.723834
PG-13,0.000493,4.080950e+07,168468.588177,38.308545,1.183921e+08,108.486700,0.002463,6.232267,2321.766010
PG-13,0.000000,0.000000e+00,262958.000000,6.042000,4.825184e+06,106.000000,0.000000,6.724000,156.000000
R,0.000308,1.470449e+07,178258.082973,28.040854,3.105650e+07,103.816471,0.001234,5.921849,1192.002776
Unrated,0.000000,2.600000e+02,407659.000000,0.600000,0.000000e+00,76.000000,0.000000,2.000000,1.000000

## Average Budget per certification category

see above

# Save combined data

In [45]:
tmdb_results_df.to_csv('Data/tmdb_results_combined.csv.gz')